* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

header {
    display: flex;
    padding: 3em 0;
    margin-bottom: 3em;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to top left, #0000FF, #bfcfff);
}

header h1 {
    font-size: 3.25em;
}

.head-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.head-nav li {
    margin: 0 .5em;
}

.head-nav a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.content {
    display: flex;
    margin: 0 2em 4em;
    padding: 2em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f2efef;
}

#avatar-pic {
    width: 20%;
    height: 25%;
}

.content h2 {
    font-size: 1.5em;
}