* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    width: 100%;
    padding: 3em 0;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to top left, #0000FF, #bfcfff);
}

header h1 {
    font-size: 3.25em;
}

.head-nav ul {
    display: flex;
    flex: 1 0 100;
    flex-direction: row;
    list-style: none;
}

.head-nav li {
    margin: 0 .5em;
}

.head-nav a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

#avatar{
    display: flex;
    flex: 1 0 100%;
    margin: 0 0 4em;
    padding: 2em;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(196deg, #0000FF, #bfcfff);
}

#avatar-pic {
    min-width: 300px;
    min-height: 175px;
    max-height: 500px;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
}

.content-card {
    margin: 0 2em 4em;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 100%;
}

.content-card h2 {
    font-size: 45px;
}

.intro-content {
    display: flex;
    flex: 1 1 20%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 25px;
    background-color: #bfcfffb0;
}

#my-text {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 75%;
    padding: 2em;
    border-radius: 25px;
    background-color: #f2efef;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 75%;
    justify-content: center;
    border-radius: 25px;
    background-color: #f2efef;
}


#project-list li {
    display: flex;
    flex-wrap: wrap;
    flex: 2 1 25%;
    justify-content: center;
    margin: 1em 2em;
    padding: 2em;
    flex-direction: column;
    align-items: center;
}

.other-projects {
    background-image: url(../images/blueprint.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

#first-project {
    font-weight: bolder;
    background-image: url(../images/blueprint.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.project-link {
    text-decoration: none;
    color: #000000;
}

.project-link:hover {
    cursor: pointer;
    color: #0000FF;
}

.project-link:focus {
    background-color: #bfcfff;
    border: #0000FF, 2px;
    padding: 2px;
}

footer {
    position:relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 2em;
    text-align: center;
    background-color: #f2efef;
}

footer h3 {
    font-size: 1.5em;
    margin-bottom: 8px;
}

#contact-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact-info {
    margin: 0 8px;
    color: #000000;
}

.contact-info a {
    text-decoration: none;
    color: #000000;
}

.contact-info a:hover {
    cursor: pointer;
    color: #0000FF;
}

/*576px for portrait phones*/
@media screen and (max-width: 576px){
    #contact-list {
        flex-direction: column;
    }
}

/*768px for tablets*/
@media screen and (max-width: 768px){
    header {
        flex-direction: column;
    }
}

/*992px for laptops*/
@media screen and (max-width: 992px){
    .content-card {
        flex-direction: column;
    }
}

/*1216px for large devices*/
@media screen and (max-width: 1216px){
    #projects {
        flex-direction: column;
    }
}
